@model IEnumerable<covid_dashboard_aspnet_core.Models.DataCovid>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Dados COVID</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Dados</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Death)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Death)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recovered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhe</a> 
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
